[Desktop Entry]
Type=Application
Name=climusicplayer
GenericName=Music Player
Exec=/usr/local/bin/custom/climp.sh
Terminal=false
Categories=Audio;Music;Player;AudioVideo;

